/spring-boot-logger-log4j2--06-August-2020-1.log.gz
/spring-boot-logger-log4j2--06-August-2020-2.log.gz
/spring-boot-logger-log4j2--06-August-2020-3.log.gz
/spring-boot-logger-log4j2--06-August-2020-4.log.gz
/spring-boot-logger-log4j2--06-August-2020-5.log.gz
/spring-boot-logger-log4j2--06-August-2020-6.log.gz
/spring-boot-logger-log4j2--06-August-2020-7.log.gz
/spring-boot-logger-log4j2--09-August-2020-1.log.gz
/spring-boot-logger-log4j2--09-August-2020-2.log.gz
/spring-boot-logger-log4j2--10-August-2020-1.log.gz
/spring-boot-logger-log4j2--10-August-2020-2.log.gz
/spring-boot-logger-log4j2--10-August-2020-3.log.gz
/spring-boot-logger-log4j2--10-August-2020-4.log.gz
/spring-boot-logger-log4j2--10-August-2020-5.log.gz
/spring-boot-logger-log4j2--10-August-2020-6.log.gz
/spring-boot-logger-log4j2--10-August-2020-7.log.gz
/spring-boot-logger-log4j2--11-August-2020-1.log.gz
/spring-boot-logger-log4j2--11-August-2020-2.log.gz
/spring-boot-logger-log4j2--11-August-2020-3.log.gz
/spring-boot-logger-log4j2--11-August-2020-4.log.gz
/spring-boot-logger-log4j2--11-August-2020-5.log.gz
/spring-boot-logger-log4j2--11-August-2020-6.log.gz
/spring-boot-logger-log4j2--11-August-2020-7.log.gz
/spring-boot-logger-log4j2--12-August-2020-1.log.gz
/spring-boot-logger-log4j2--12-August-2020-2.log.gz
/spring-boot-logger-log4j2--12-August-2020-3.log.gz
/spring-boot-logger-log4j2--12-August-2020-4.log.gz
/spring-boot-logger-log4j2--12-August-2020-5.log.gz
/spring-boot-logger-log4j2--12-August-2020-6.log.gz
