/spring-boot-logger-log4j2--02-September-2020-1.log.gz
/spring-boot-logger-log4j2--09-September-2020-1.log.gz
/spring-boot-logger-log4j2--23-September-2020-1.log.gz
/spring-boot-logger-log4j2--23-September-2020-2.log.gz
